@model TarefaModel
@section Styles{
    <link href="~/css/forms.css" rel="stylesheet" />
    <style type="text/css">
        .box-formulario {
            width: 470px;
        }

        .style1 {
            width: 400px;
        }

        .style2 {
            width: 100px;
        }

        .style4 {
            width: 238px;
        }
    </style>
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".data").datepicker();
            $(".data").mask("99/99/9999");
        });
    </script>
}

<div class="box-formulario box-center">
    <header>
        <h5>Usuários</h5>
        <a asp-action="index" class="fechar"></a>
    </header>
    <form id="form1">
        <table>
            <tr>
                <td class="style2">
                    <label asp-for="Nome"></label>
                </td>
                <td class="style1">
                    <input asp-for="Nome" />
                    <span asp-validation-for="Nome"></span>
                </td>
            </tr>
            <tr>
                <td class="style2">
                    <label asp-for="DataSolicitacao"></label>
                </td>
                <td class="style1">
                    <input asp-for="DataSolicitacao" />
                    <span asp-validation-for="DataSolicitacao"></span>
                </td>
            </tr>
            <tr>
                <td class="style2">
                    <label asp-for="Grupo"></label>
                </td>
                <td class="style1">
                    <select asp-for="Grupo"></select>
                    <span asp-validation-for="Grupo"></span>
                </td>
            </tr>
            <tr>
                <td class="style2">
                    <label asp-for="Observacao"></label>
                </td>
                <td class="style1">
                    <textarea asp-for="Observacao"></textarea>
                    <span asp-validation-for="Observacao"></span>
                </td>
            </tr>
            <tr>
                <td class="style2">
                    <input type="hidden" asp-for="Id" />
                </td>
                <td class="style4">
                    <button class="botao">Salvar</button>
                </td>
            </tr>
        </table>
    </form>
    <footer>
        <div asp-validation-summary="All"></div>
    </footer>
</div>