<div id="box-formulario" class="box-center">
    <form id="form1" runat="server">
        <div id="top">
            <h5>#Agendamento</h5>
            <a href="Pesquisar.aspx" class="fechar" title="fechar"></a>
        </div><!-- top -->
        <div id="center">
            <table>
                <tr>
                    <td class="style2"><label class="rotulo">Tarefa</label></td>
                    <td class="style1">
                        <asp:DropDownList ID="Tarefa" runat="server" BackColor="#FFFFCC"
                                          onselectedindexchanged="MudarTarefa" Width="250px"></asp:DropDownList>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server"
                                                    ControlToValidate="Tarefa" ErrorMessage="*"></asp:RequiredFieldValidator>
                    </td>
                </tr>
                <tr>
                    <td class="style2"><label class="rotulo">Cliente</label></td>
                    <td class="style1">
                        <asp:DropDownList ID="Cliente" runat="server" BackColor="#FFFFCC" Height="20px" Width="192px">
                        </asp:DropDownList>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator5" runat="server"
                                                    ControlToValidate="Cliente" ErrorMessage="*"></asp:RequiredFieldValidator>
                    </td>
                </tr>
                <tr>
                    <td class="style2"><label class="rotulo">Responsável</label></td>
                    <td class="style1">
                        <asp:DropDownList ID="Responsavel" runat="server" BackColor="#FFFFCC"
                                          Height="20px" Width="192px">
                            <asp:ListItem Text="Paulo Duarte" Value="0"></asp:ListItem>
                            <asp:ListItem Text="Presley Brenner" Value="1"></asp:ListItem>
                            <asp:ListItem Text="Davidson Godinho" Value="2"></asp:ListItem>
                            <asp:ListItem Text="Pablo Dias" Value="3"></asp:ListItem>
                        </asp:DropDownList>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server"
                                                    ControlToValidate="Responsavel" ErrorMessage="*"></asp:RequiredFieldValidator>
                    </td>
                </tr>
                <tr>
                    <td class="style2"><label class="rotulo">Início</label></td>
                    <td class="style1">
                        <asp:TextBox id="DataInicio" runat="server" CssClass="data"
                                     ClientIDMode="Static" BackColor="#FFFFCC"
                                     ViewStateMode="Enabled"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server"
                                                    ControlToValidate="DataInicio" ErrorMessage="*"></asp:RequiredFieldValidator>
                    </td>
                </tr>
                <tr>
                    <td class="style2"><label class="rotulo">Fim</label></td>
                    <td class="style1">
                        <asp:TextBox id="DataFim" runat="server" CssClass="data" ClientIDMode="Static" BackColor="#FFFFCC" ViewStateMode="Enabled"></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="style2"><label class="rotulo">Duração</label></td>
                    <td class="style1">
                        <asp:DropDownList ID="DuracaoHoras" runat="server" BackColor="#FFFFCC" Height="20px" Width="50px" ViewStateMode="Enabled">
                            <asp:ListItem Text="00" Value="0" Selected="True"></asp:ListItem>
                            <asp:ListItem Text="01" Value="1"></asp:ListItem>
                            <asp:ListItem Text="02" Value="2"></asp:ListItem>
                            <asp:ListItem Text="03" Value="3"></asp:ListItem>
                            <asp:ListItem Text="04" Value="4"></asp:ListItem>
                            <asp:ListItem Text="05" Value="5"></asp:ListItem>
                            <asp:ListItem Text="06" Value="6"></asp:ListItem>
                        </asp:DropDownList>
                        <asp:DropDownList ID="DuracaoMinutos" runat="server" BackColor="#FFFFCC" Height="20px" Width="50px" ViewStateMode="Enabled">
                            <asp:ListItem Text="00" Value="0"></asp:ListItem>
                            <asp:ListItem Text="10" Value="10"></asp:ListItem>
                            <asp:ListItem Text="15" Value="15" Selected="True"></asp:ListItem>
                            <asp:ListItem Text="20" Value="20"></asp:ListItem>
                            <asp:ListItem Text="25" Value="25"></asp:ListItem>
                            <asp:ListItem Text="30" Value="30"></asp:ListItem>
                            <asp:ListItem Text="35" Value="35"></asp:ListItem>
                            <asp:ListItem Text="40" Value="40"></asp:ListItem>
                            <asp:ListItem Text="45" Value="45"></asp:ListItem>
                            <asp:ListItem Text="50" Value="50"></asp:ListItem>
                            <asp:ListItem Text="55" Value="55"></asp:ListItem>
                        </asp:DropDownList>
                    </td>
                </tr>
                <tr>
                    <td class="style2"><label class="rotulo">Prazo</label></td>
                    <td class="style1">
                        <asp:DropDownList ID="PrazoHora" runat="server" Height="20px" Width="50px" BackColor="#FFFFCC">

                        </asp:DropDownList>
                        <asp:DropDownList ID="PrazoMinutos" runat="server" Height="20px" Width="50px" BackColor="#FFFFCC">
                            <asp:ListItem Text="00" Value="00" Selected="True"></asp:ListItem>
                            <asp:ListItem Text="15" Value="15"></asp:ListItem>
                            <asp:ListItem Text="30" Value="30"></asp:ListItem>
                            <asp:ListItem Text="45" Value="45"></asp:ListItem>
                        </asp:DropDownList>
                    </td>
                </tr>
                <tr>
                    <td class="style2"><label class="rotulo">Tipo</label></td>
                    <td class="style1">
                        <asp:DropDownList ID="Tipo" runat="server" Height="20px" Width="125px"
                                          BackColor="#FFFFCC">
                            <asp:ListItem Text="Diário" Value="1"></asp:ListItem>
                            <asp:ListItem Text="Semanal" Value="2"></asp:ListItem>
                            <asp:ListItem Text="Mensal" Value="3"></asp:ListItem>
                            <asp:ListItem Text="Eventual" Value="4" Selected="True"></asp:ListItem>
                        </asp:DropDownList>
                    </td>
                </tr>
                <tr>
                    <td class="style2"><label class="rotulo">Substituição</label></td>
                    <td class="style1">
                        <asp:RadioButtonList ID="Substituicao" runat="server" Width="360px">
                            <asp:ListItem Value="1" Text="Excluir todos os agendamentos não tratados desta tarefa"></asp:ListItem>
                            <asp:ListItem Value="2" Text="Excluir todos os agendamentos desta tarefa"></asp:ListItem>
                            <asp:ListItem Value="0" Text="Não excluir nenhum agendamento" Selected="True"></asp:ListItem>
                        </asp:RadioButtonList>
                    </td>
                </tr>
                <tr>
                    <td class="style2"><label class="rotulo">Motivo</label></td>
                    <td class="style1">
                        <asp:TextBox ID="Motivo" TextMode="MultiLine" runat="server" Height="60px"
                                     MaxLength="400"
                                     ToolTip="Descreva o motivo do agendamento, seja o mais objetivo possível."
                                     Width="350px"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server"
                                                    ControlToValidate="Motivo" ErrorMessage="*"></asp:RequiredFieldValidator>
                    </td>
                </tr>
                <tr>
                    <td class="style2">
                        <asp:TextBox ID="IdTarefa" runat="server" Visible="false" ReadOnly="True"
                                     Text="0" Width="20px"></asp:TextBox>
                        <asp:TextBox ID="IdAgendamento" runat="server" Visible="false" ReadOnly="True"
                                     Text="0" Width="20px"></asp:TextBox>
                    </td>
                    <td class="style1">
                        <asp:Button ID="Button1" CssClass="botao" Text="Salvar" OnClick="Salvar" runat="server" />
                    </td>
                </tr>
            </table>
        </div><!-- center -->
        <div id="bottom">
            Atenção: O prazo para alterar os dados deste agendamento é de até 1 hora após o vencimento da SLA. Vencido esse prazo a demanda não poderá mais ser alterada.
        </div><!-- bottom -->
    </form>
</div>
@section Styles {
    <style type="text/css">
        #box-formulario {
            width: 500px;
        }

        .style1 {
            width: 330px;
        }

        .style2 {
            width: 93px;
        }
    </style>
}

@section Scripts {

    <script type="text/javascript">
        $(function () {
            $(".data").datepicker();
            $(".data").mask("99/99/9999");
        });
    </script>
}