@model AgendamentoViewModel
<form>
    <div id="box-agenda">
        <fieldset>
            <legend>Tarefa</legend>
            <table class="tab1">
                <tr>
                    <td colspan="3">
                        <h3>
                            <span>@Model.TarefaId - @Model.Tarefa</span>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td><label>Cliente</label></td>
                    <td>
                        <input asp-for="Cliente" readonly />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>SLA</label></td>
                    <td>
                        <asp:Literal ID="SLA"></asp:Literal>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>Responsável</label></td>
                    <td>
                        <input asp-for="Responsavel" readonly />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>Categoria</label></td>
                    <td>
                        <input asp-for="Categoria" readonly />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>Duração</label></td>
                    <td><span asp-for="Duracao"></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>Data da Solicitação</label></td>
                    <td><span asp-for="DataSolicitacao"></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>Motivo da tarefa</label></td>
                    <td colspan="2"><span asp-for="MotivoTarefa"></span></td>
                </tr>
                <tr>
                    <td><label>Motivo deste agendamento</label></td>
                    <td colspan="2"><span asp-for="MotivoAgendamento"></span></td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>Últimos Envios</legend>
            <ul ID="UltimosEnvios">
            </ul>
        </fieldset>

        <fieldset>
            <legend>Próximos Envios</legend>
            <ul ID="ProximosEnvios">
            </ul>
        </fieldset>

        <fieldset>
            <legend>Histórico de Tratamento</legend>
            <ul ID="HistoricoTratamentos">
            </ul>
        </fieldset>

    </div>
</form>
@section Styles {
    <style type="text/css">
        #box-agenda {
            width: 900px;
        }

            #box-agenda label {
                width: 200px;
                color: #00C;
            }

            #box-agenda fieldset {
                margin: 5px;
            }

                #box-agenda fieldset li {
                    list-style: none;
                    text-indent: 20px;
                    margin: 5px;
                }

                #box-agenda fieldset legend {
                    text-indent: 10px;
                }

            #box-agenda table {
                margin: 5px;
            }

        .tab1 {
            padding: 5px;
        }
    </style>
}