
<div id="content">
    <div id="box-formulario" class="box-center">
        <form id="frmFormulario" runat="server">
            <div id="top">
                <h5># Recuperar senha</h5>
                <a href="Login.aspx" class="fechar"></a>
            </div>    <!-- top -->
            <div id="center">
                <table>
                    <tr>
                        <td style="width:110px;"><label for="txtUsuario" class="rotulo">Usuário</label></td>
                        <td>
                            <input type="text"
                                   id="txtUsuario"
                                   value=""
                                   style=" width:100px;"
                                   runat="server"
                                   clientidmode="Static" />
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server"
                                                        ControlToValidate="txtUsuario" ErrorMessage="Obrigatório"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <asp:Button ID="btnEntrar" CssClass="botao" Text="Recuperar" OnClick="Recuperar" runat="server" />
                        </td>
                    </tr>
                </table>
            </div> <!-- center -->
            <div id="bottom"></div> <!-- bottom -->
        </form>
    </div><!-- box-formulario -->
</div>
@section Styles {
    <style type="text/css">
        #content {
            background-color: #FFF;
        }

        #box-formulario {
            width: 350px;
        }
    </style>
}