@{ 
    ViewBag.Title = "Hello!";
}
<div id="mainBoxlinks" class="box-center">
    <div class="plinks">
        <a href="#">
            <img src="~/images/icons/user%20(3).png" alt="" />
            <h5>Usuários</h5>
            <p>Lista de usuários.</p>
        </a>
    </div>
</div>

@section Styles {
    <style type="text/css">
        #content {
            overflow: hidden;
        }
    </style>
}