<div class="mainbox">
    <div id="AcompanhamentoSLA">
        <a asp-action="AcompanhamentoSLA">
            <img src="~/images/icons/target.png" alt="" />
            <h5>Acompanhamento de SLA</h5>
            <p>Relatório do status atual das tarefas programadas e seu determinado status</p>
        </a>
    </div>
    <div id="DashboardSLA">
        <a asp-action="DashboardSLAs">
            <img src="~/images/icons/ist2_5491730-business-finance-icons-premium-matte-series_r1_c3_s1.png" alt="" />
            <h5>Dashboard de SLA</h5>
            <p>Indicadores de medição da entrega de demandas</p>
        </a>
    </div>
    <div id="ComparativoOcupacao">
        <a asp-action="ComparativoOcupacao">
            <img src="~/images/icons/THX 1138f.png" alt="" />
            <h5>Ocupação x Funcionário</h5>
            <p>Análise comparativa da ocupação planejada e realizada dos funcionários</p>
        </a>
    </div><!-- plinks -->
    <div id="EntregasMISCliente">
        <a asp-action="EntregasMISCliente">
            <img src="~/images/icons/user (6).png" alt="" />
            <h5>Entregas x Cliente</h5>
            <p>Análise das entregas da equipe de MIS BH/JF com foco nos clientes</p>
        </a>
    </div><!-- plinks -->
    <div id="TimeLine">
        <a asp-action="TimeLine">
            <img src="~/images/icons/global.png" alt="" />
            <h5>Timeline</h5>
            <p>Ocupação de um funcionário durante o mês</p>
        </a>
    </div><!-- plinks -->
    <div id="EvolucaoAderencia">
        <a asp-action="EvolucaoAderencia">
            <img src="~/images/icons/char_lines.png" alt="" />
            <h5>Evolução de Aderência</h5>
            <p>Evolução de Aderência de um funcionário durante o mês</p>
        </a>
    </div><!-- plinks -->
</div>

@section Styles{
    <link href="~/css/mainlinks.css" rel="stylesheet" />
    <style type="text/css">
        #content {
            overflow: hidden;
        }
    </style>
}
@section Scripts{
    <script type="text/javascript">
        $(window).ready(function () { ContentResize(); CenterInContent("mainBoxlinks"); });
        $(window).resize(function () { ContentResize(); CenterInContent("mainBoxlinks"); });
    </script>
}