@section Styles{
    <link type="text/css" href="../../Content/MainLinks.css" rel="Stylesheet" />
    <style type="text/css">
        #content {
            overflow: hidden;
        }
    </style>
}
@section Scripts{
    <script type="text/javascript">
        $(window).ready(function () { ContentResize(); CenterInContent("mainBoxlinks"); });
        $(window).resize(function () { ContentResize(); CenterInContent("mainBoxlinks"); });
    </script>
}

    <div id="mainBoxlinks">
        <div id="AcompanhamentoSLA" class="plinks" >
            <a href="AcompanhamentoSLA.aspx">
                <img src="../../Content/img/icons/target.png" alt="" />
                <h5>Acompanhamento de SLA</h5>
                <p>Relatório do status atual das tarefas programadas e seu determinado status</p>
            </a>
        </div><!-- plinks -->
        <div id="DashboardSLA" class="plinks" >
            <a href="DashboardSLAs.aspx">
                <img src="../../Content/img/icons/ist2_5491730-business-finance-icons-premium-matte-series_r1_c3_s1.png" alt="" />
                <h5>Dashboard de SLA</h5>
                <p>Indicadores de medição da entrega de demandas</p>
            </a>
        </div><!-- plinks -->
        <div id="ComparativoOcupacao" class="plinks" >
            <a href="ComparativoOcupacao.aspx">
                <img src="../../Content/img/icons/THX 1138f.png" alt="" />
                <h5>Ocupação x Funcionário</h5>
                <p>Análise comparativa da ocupação planejada e realizada dos funcionários</p>
            </a>
        </div><!-- plinks -->
        <div id="EntregasMISCliente" class="plinks" >
            <a href="EntregasMISCliente.aspx">
                <img src="../../Content/img/icons/user (6).png" alt="" />
                <h5>Entregas x Cliente</h5>
                <p>Análise das entregas da equipe de MIS BH/JF com foco nos clientes</p>
            </a>
        </div><!-- plinks -->
        <div id="TimeLine" class="plinks" >
            <a href="TimeLine.aspx">
                <img src="../../Content/img/icons/global.png" alt="" />
                <h5>Timeline</h5>
                <p>Ocupação de um funcionário durante o mês</p>
            </a>
        </div><!-- plinks -->
        <div id="EvolucaoAderencia" class="plinks" >
            <a href="EvolucaoAderencia.aspx">
                <img src="../../Content/img/icons/char_lines.png" alt="" />
                <h5>Evolução de Aderência</h5>
                <p>Evolução de Aderência de um funcionário durante o mês</p>
            </a>
        </div><!-- plinks -->
    </div><!-- main-box-links -->