
<div class="mainbox box-center">
    <div>
        <a asp-action="index" asp-controller="categorias">
            <img src="~/images/icons/database.png" alt="" />
            <h5>Categorias</h5>
            <p>As categorias servem para separar os tipos de tarefas.</p>
        </a>
    </div>
    <div>
        <a asp-action="index" asp-controller="clientes">
            <img src="~/images/icons/database.png" alt="" />
            <h5>Clientes</h5>
            <p>...</p>
        </a>
    </div>
    <div>
        <a asp-action="index" asp-controller="diagnosticos">
            <img src="~/images/icons/database.png" alt="" />
            <h5>Diagnósticos</h5>
            <p>...</p>
        </a>
    </div>
    <div>
        <a asp-action="index" asp-controller="funcionarios">
            <img src="~/images/icons/database.png" alt="" />
            <h5>Funcionários</h5>
            <p>...</p>
        </a>
    </div>
    <div>
        <a asp-action="index" asp-controller="relatorios">
            <img src="~/images/icons/char_lines.png" alt="" />
            <h5>Relatórios</h5>
            <p>Acompanhe as estatísticas de produtividade do seu time.</p>
        </a>
    </div>
    <div>
        <a asp-action="index" asp-controller="tarefas">
            <img src="~/images/icons/book_anotation.png" alt="" />
            <h5>Tarefas</h5>
            <p>As tarefas que você deseja controlar</p>
        </a>
    </div>
    <div>
        <a asp-action="index" asp-controller="usuarios">
            <img src="~/images/icons/user%20(3).png" alt="" />
            <h5>Usuários</h5>
            <p>Lista de usuários.</p>
        </a>
    </div>
</div>

@section Styles {
    <link href="~/css/mainlinks.css" rel="stylesheet" />
    <style type="text/css">
        #content {
            overflow: hidden;
        }
    </style>
}