<footer>
    <span class="contato">
        <a href="mailto:contato@gadesi.com.br">Dúvidas ou sugestões</a> |
        GADZ &copy;
    </span>
    <span class="assinatura">
        Ver. 1.5 | Desenvolvido por <a href="mailto:phduarte87@outlook.com">Paulo Duarte</a>
    </span>
</footer>