<footer>
    <span class="contato">
        <email to="contato">Dúvidas ou sugestões</email> |
        GADZ &copy;
    </span>
    <span class="assinatura">
        Ver. 1.5 | Desenvolvido por <email to="paulo">Paulo Duarte</email>
    </span>
</footer>