<header>
    <a asp-action="index" asp-controller="home" target="_top">
        <h1>Agenda</h1>
    </a>
    <a asp-action="index" asp-controller="home" target="_top">
        <img class="botao"
             src="~/images/buttons/btn_alma.png" alt="logotipo almaviva"
             id="imgLogo" />

    </a>
    <a asp-action="logout" asp-controller="acesso" target="_top">
        <img class="botao"
             src="~/images/buttons/btn_sair.png" alt="botão sair"
             id="imgLogout" visible="false" />
    </a>
    <a asp-action="index" asp-controller="perfil" target="_top">
        <img class="botao"
        src="~/images/buttons/btn_adm.png" alt="botão administrador"
        id="imgAdm" visible="false" />
    </a>
</header>