<header id="header">
    <a href="@Url.Action("Index", "Home")" target="_top">
        <h1>Agenda</h1>
    </a>
    <a href="@Url.Action("Index", "Home")" target="_top">
        <img class="botao"
             src="~/images/buttons/btn_alma.png" alt="logotipo almaviva"
             id="imgLogo" />
    </a>
    <a href="~/acesso/logout" target="_top">
        <img class="botao"
             src="~/images/buttons/btn_sair.png" alt="botão sair"
             id="imgLogout" visible="false" />
    </a>
    <a href="~/admin" runat="server">
        <img class="botao"
             src="~/images/buttons/btn_adm.png" alt="botão administrador"
             id="imgAdm" visible="false" />
    </a>
</header><!-- header -->