@{
    string title = "Agenda";
    if (ViewData.ContainsKey("title"))
    {
        title = ViewData["title"].ToString();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link type="text/css" href="~/lib/ShadownBox/Shadowbox.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="~/css/statusbar.css" rel="stylesheet" />
    <style type="text/css">
        #sb-info {
            position: absolute;
            right: 0;
            top: 0;
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body>
    <partial name="_Header" />
    <partial name="_Statusbar" />
    <main id="content">
        @RenderBody()
    </main>
    <partial name="_Footer" />
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"/>
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-maskedinput/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/lib/ShadownBox/Shadowbox.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script type="text/javascript">
        $(window).ready(function () { ContentResize(); CenterInContent(); });
        $(window).resize(function () { ContentResize(); CenterInContent(); });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>