<section id="status">
    @if (Context.Items.ContainsKey("breadcrumb"))
    {
        <span class="rota">@Context.Items["breadcrumb"]</span>
    }
    <span class="perfil">@Context.User.Identity.Name</span>
</section>